.muted-button {
    margin: 1rem auto 0;
    background-color: transparent;
    padding: 0.5rem;
    color: var(--text-color);
    cursor: pointer;
    transition: border 0.2s, color 0.2s;
    border: 1px solid transparent;
    width: 100%;
    max-width: 200px;
    border-radius: var(--radius);
    font-size: 1rem;
}

.muted-button:hover {
    color: white;
    border: 1px solid var(--accent-color);
}

.muted-button:active {
    background-color: var(--card-bg);
    color: var(--muted-text);
}