ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 40px;
    background-color: rgb(0, 0, 56);
    padding-left: 8px;
}

li {
    margin-right: 40px;
    display: flex;
    align-items: center;
    height: 100%;
    background-color: inherit;

}

a {
    color: #fff;
    display: block;
    font-size: 18px;
    text-decoration: none;
    background-color: inherit;

}