.scroll-container {
  width: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

/* Themed scrollbar for WebKit browsers */
.scroll-container::-webkit-scrollbar {
  width: 10px;
}
.scroll-container::-webkit-scrollbar-track {
  background: #1e1d22;
  border-radius: 8px;
}
.scroll-container::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: 8px;
  border: 2px solid #1e1d22; /* creates padding around thumb */
}

/* Firefox scrollbar theming */
.scroll-container {
  scrollbar-width: thin;
  scrollbar-color: var(--accent-color) #1e1d22;
}
