.admin-wrapper {
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap:   20px;
}

.reset-db-wrapper {
    flex: 1;
    background-color: var(--card-bg);
}

.create-code-wrapper {
    display: flex;
}

.change-team-wrapper {
    display: flex;
}

.team-change-message {
    color: green;
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.1em;
}