# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


javascript:(function(){
  window.open("https://github.com/Joona374/scoring-app-3", "_blank");
  window.open("https://vercel.com/joonas-projects-1cfc4654/scoring-app-3", "_blank");
  window.open("https://dashboard.render.com/web/srv-d185i2ndiees73ao4h5g", "_blank");
  window.open("https://console.neon.tech/app/projects/steep-haze-46920726", "_blank");
})();