.roster-page {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  height: 100%;
  padding: 1rem;
}

.player-editor {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.player-editor .auth-page {
  padding: 0;
  height: 100%;
  min-height: auto;
}


.roster-page .auth-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 100%;
    height: 100%;
    padding: 1rem;
}

.separator {
  width: 1px;
  background-color: #444;
  margin: 0 1rem;
}

.player-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--card-bg);
  border-radius: var(--radius);
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  min-height: 0;
}

.player-sections-scroll {
  flex-grow: 1;
  overflow-y: auto;
  margin-top: 1rem;
}



.player-section h2 {
  font-size: 1.2rem;
  border-bottom: 1px solid #444;
  padding-bottom: 0.25rem;
  margin-bottom: 0.75rem;
  color: var(--muted-text);
}

.player-section {
  margin-bottom: 2rem;
}

.player-item {
  padding: 0.5rem;
  border-radius: var(--radius);
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.player-item:hover {
  background-color: #333;
}

.add-player-btn {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  background-color: var(--accent-color);
  color: white;
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.add-player-btn:hover {
  background-color: #991b1b;
}

.form-title {
  font-size: 1.5rem;
  margin: 0;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #444;
  color: var(--muted-text);
}

.action-buttons {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
}

.delete-button {
  background-color: #991b1b;
}

.delete-button:hover {
  background-color: #7f1d1d;
}

