.left-column .auth-page {
  padding: 0;
  height: 100%;
  min-height: auto;
  background-color: transparent;
}


.left-column .auth-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 100%;
    height: 100%;
    padding: 0;
    box-shadow: none;
    background-color: transparent;
}

.left-column .auth-form label {
  font-size: 1rem;
  color: var(--muted-text);
}

.left-column .auth-form button {
    background-color: var(--accent-color);
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: var(--radius);
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease; 
}

.left-column .auth-form button:hover {
  background-color: #a41414; /* darker red on hover */
}

.player-sections-scroll {
  flex-grow: 1;
  margin-top: 1rem;
}



.player-section h2 {
  font-size: 1.2rem;
  border-bottom: 1px solid #444;
  padding-bottom: 0.25rem;
  margin-bottom: 0.75rem;
  color: var(--muted-text);
}

.player-section {
  margin-bottom: 2rem;
}

.player-item {
  padding: 0.5rem;
  border-radius: var(--radius);
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.player-item:hover {
  background-color: #333;
}

.add-player-btn {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  background-color: var(--accent-color);
  color: white;
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin: 0;
}

.add-player-btn:hover {
  background-color: #991b1b;
}

.form-title {
  font-size: 1.5rem;
  margin: 0;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #444;
  color: var(--muted-text);
}

.roster-action-buttons {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.delete-button {
  background-color: #991b1b;
}

.delete-button:hover {
  background-color: #7f1d1d;
}

