    :root {
  --main-color: #eadfdf;
  --accent-color: #b91c1c;
  --accent-color-dark: #7f1515;
  --accent-color-light: #e25858;
  --bg-color: #161519;
  --text-color: #eadfdf;
  --card-bg: #2c2828a6;
  --muted-text: #bebaba;

  --font-family: 'Segoe UI', sans-serif;
  --radius: 8px;
    }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

html, body, #root {
  height: 100%;
  min-height: 100%;
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.coming-soon-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  color: var(--text-color);
  text-align: center;
  padding: 2rem;
  animation: fadeIn 0.6s ease-in-out;
}

.coming-soon-h1 {
  font-size: 5rem;
  color: var(--accent-color);
  text-shadow: 0 0 4px rgba(185, 28, 28, 0.6);
  font-family: var(--font-family);
  letter-spacing: 1px;
  animation: pulse 2s infinite ease-in-out;
}



/* Optional animation to fade in the screen */
@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}

/* Optional subtle attention effect */
@keyframes pulse {
  0% { text-shadow: 0 0 8px rgba(185, 28, 28, 0.6); }
  50% { text-shadow: 0 0 16px rgba(185, 28, 28, 0.9); }
  100% { text-shadow: 0 0 8px rgba(185, 28, 28, 0.6); }
}
