    :root {
  --main-color: #eadfdf;
  --accent-color: #b91c1c;
  --bg-color: #161519;
  --text-color: #eadfdf;
  --card-bg: #221f1fa6;
  --muted-text: #bebaba;

  --font-family: 'Segoe UI', sans-serif;
  --radius: 8px;
    }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

html, body, #root {
  height: 100%;
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
}