.dashboard-wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
    
}

ul.dashboard-players {
    background-color: inherit;
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-direction: column;
}

li {
    background-color: inherit;
}