.game-picker-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; /* full viewport height */
}

.game-picker-container h1 {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

.game-picker-container p {
  color: var(--muted-text);
  font-size: 1rem;
}


.game-picker-card {
  background-color: var(--card-bg);
  padding: 2rem;
  border-radius: var(--radius);
  text-align: center;
  box-shadow: 0 0 10px #00000066;
  max-width: 400px;
  width: 90%;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.5rem;
}

.game-picker-card button {
  background-color: var(--accent-color);
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  margin: 0rem;
  border-radius: var(--radius);
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.game-picker-card button:hover {
  background-color: #a41414; /* darker red on hover */
}


.tagging-mode-picker-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  
}

.tagging-mode-picker-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; 
}
.tagging-mode-picker-wrapper h1 {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}