.participant-question-container {
    display: flex;
    flex-direction: row;
}

.participant-left-column {
    background-color: inherit;
    display: flex;
    flex-direction: column;
    flex: 2;
}

.participant-right-column {
    background-color: inherit;
    display: flex;
    flex-direction: column;
    flex: 3;
}

.participant-f-row {
    display: flex;
    flex-direction: row;
    padding: 3px;
}