.tagging-page {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    height: 100%;
}

.tagging-area-column {
    flex: 2;
}

.tagging-summary-column {
    background-color: #002c29;
    flex: 1;
    border-left: 3px solid #fff;

}