

.home-button {
  padding: 10px 20px;
  width: 150px;
  text-align: center;
  background-color: #2a9d8f;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin: 10px;
  display: inline-block;
}

.home-buttons {
  display: flex;
  flex-direction: column;
}