name: Keep Render App Alive

on:
  schedule:
    - cron: "*/5 * * * *"
  workflow_dispatch: # enables manual trigger button

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Ping Render App
        run: curl -fsSL https://prod-scoring-app-3-prod.onrender.com/ || echo "Failed to ping Render app"
